body{
  background: #f5f5f5;
  color: #484848;
  font-family: Arial;
}
h2{
  text-align: center;
}
h4{
  text-align: center;
}
.one{
  font-weight: bold;
}
.second{
  font-weight: normal;
}
.container{
  width: 1000px;
  margin: 0 auto;
  display: flex;
}
.container1{
  margin: 0 auto;
}
.box{
  display: inline-block;
  color: white;
  width: 300px;
  height: 300px;
  line-height: 300px;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  margin: 0 auto;
}
.box1{
  text-align: center;
  color: #484848;
  background: white;
  font-weight: bold;
  font-size: 16px;
  border: 2px solid #c4c4c4;
  padding: 9px 90px;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}
.newyork{
  background-image: url("../img/new-york.jpg");
  background-size: cover;
}
.sf1{
  background-image: url("../img/san-francisco.jpg");
  background-size: cover;
}
.sf2{
  background-image: url("../img/san-francisco-2.jpg");
  background-size: cover;
}
.london{
  background-image: url("../img/london.jpg");
  background-size: cover;
}
.sonoma{
  background-image: url("../img/sonoma.jpg");
  background-size: cover;
}
.napa{
  background-image: url("../img/napa.jpg");
  background-size: cover;
}
